# ===========================================
# APPLICATION CONFIGURATION
# ===========================================
APP_NAME=Help Api
APP_PORT=3000
API_PREFIX=api
NODE_ENV=development

# ===========================================
# DATABASE CONFIGURATION
# ===========================================
DATABASE_URL=postgresql://user:secret@localhost:5432/api